<%- include('./partials/head') %>
<!-- <%- include('./partials/navigation', {current: '/'}); %> -->

<main class="d">

    <header class="d-h">
        <picture class="orb-1"><%- include('./partials/orb') %></picture>

        <%- include('./partials/logo') %>
        <h1> Hello, Rodion,</h1>
        <p>today is <time datetime="2024-06-20">June 20, 2024</time></p>

    </header>

    <section>

        <article>
            <p>User sessions</p>
            <p>graph of user sessions</p>
            <%- include('./partials/charts/session-chart') %>
        </article>
    
        <article>
            <p>GoogleAd</p>
            <p>showcase of clicks by active users</p>

            <% googleAd.rows.forEach(function(row) { %>
                <p><%= row.dimensionValues[0].value %>: <%= row.metricValues[0].value %></p>

                <div class="bg-ci">
                    <div class="place"></div>
                    <div class="border-animation ba1"></div>
                    <div class="border-animation ba2"></div>
                    <div class="border-animation ba3"></div>
                </div>

            <% }) %>
        </article>

        <article>
            <p>Active users worldwide</p>
            <p>graph of active users per continent</p>
            <%- include('./partials/charts/continent-chart') %>
        </article>

        <article>
            <p>Active users per country</p>
            <p>showcase of .....</p>

            <ul class="c-data">
                <% country.rows.slice(0, 30).forEach(function(row) { %>
                    <li><%= row.dimensionValues[0].value %>: <%= row.metricValues[0].value %></li>
                <% }) %>
            </ul>

        </article>

        <article>
            <p>Active users per city</p>
            <p>updated today</p>

            <ul class="c-data">
            <% city.rows.slice(0, 30).forEach(function(row) { %>
                <li><%= row.dimensionValues[0].value %>: <%= row.metricValues[0].value %></li>
            <% }) %>
        </ul>

        </article>

        <article>
            <p>Browsers</p>
            <p>showcase active users per browser</p>
            <%- include('./partials/charts/browser-chart') %>

        </article>
    </section>
</main>

<%- include('./partials/footer') %>