<%- include('./partials/head') %>
<%- include('./partials/navigation', {current: '/'}); %>

<main class="d">

    <article>
    <%- include('./partials/session-chart') %>
    </article>
    
    <article><p>30%</p></article>

    <article>
    <%- include('./partials/continent-chart') %>
    </article>

    <article>
    <% country.rows.slice(0, 30).forEach(function(row) { %>
        <p><%= row.dimensionValues[0].value %>: <%= row.metricValues[0].value %></p>
    <% }) %>
    </article>

    <article>
        <% city.rows.slice(0, 30).forEach(function(row) { %>
            <p><%= row.dimensionValues[0].value %>: <%= row.metricValues[0].value %></p>
        <% }) %>
    </article>
    

   
</main>