<%- include('./partials/head') %>
<%- include('./partials/navigation', {current: '/'}); %>

<main class="d">

    <header class="d-h">
        <h1> Hey Rodion,</h1>
        <p> subquote subquote!!!!!!</p>
    </header>

    <section>
        <h2>Critical statistics</h2>

        <article>
            <p>User sessions</p>
            <p>showcase of .....</p>
            <%- include('./partials/charts/session-chart') %>
        </article>
    
        <article>
            <p>GoogleAd</p>
            <p>showcase of .....</p>

            <% googleAd.rows.forEach(function(row) { %>
                <p><%= row.dimensionValues[0].value %>: <%= row.metricValues[0].value %></p>

                <div class="bg-ci">
                    <span class="place"></span>
                    <span class="border-animation ba1"></span>
                    <span class="border-animation ba2"></span>
                    <span class="border-animation ba3"></span>
                </div>

            <% }) %>
        </article>

        <article>
            <p>Active users worldwide</p>
            <p>showcase of .....</p>
            <%- include('./partials/charts/continent-chart') %>
        </article>

        <article>
            <p>Active users per country</p>
            <p>showcase of .....</p>

            <ul class="c-data">
                <% country.rows.slice(0, 30).forEach(function(row) { %>
                    <li><%= row.dimensionValues[0].value %>: <%= row.metricValues[0].value %></li>
                <% }) %>
            </ul>

        </article>

        <article>
            <p>Active users per city</p>
            <p>showcase of .....</p>

            <ul class="c-data">
            <% city.rows.slice(0, 30).forEach(function(row) { %>
                <li><%= row.dimensionValues[0].value %>: <%= row.metricValues[0].value %></li>
            <% }) %>
        </ul>

        </article>

        <article>
            <p>Browsers</p>
            <p>showcase of .....</p>
            <%- include('./partials/charts/browser-chart') %>

        </article>
    </section>
    

   
</main>