 <%- include('./partials/top') %>

<script defer src="./script.js"></script>

<article class="graphbox">
  <div class="box">
    <canvas id="ProductivityChart"  data-datasets="<%= teams.map(function(team) { return team.productivity }) %>" data-labels="<%= teams.map(function(team) { return team.name }) %>"></canvas>
  </div>

  <div class="box">
    <canvas id="CupsOfCoffeeChart" data-coffeedata="<%= teams.map(function(team) { let total = 0; team.employees.forEach(function(employee) { total+= employee.cupsOfCoffee }); return total; }) %>" data-labels="<%= teams.map(function(team) { return team.name }) %>"></canvas>
  </div>

  <div class="box">
    <canvas id="SickdaysChart" data-sickdaysdata="<%= teams.map(function(team) { let total = 0; team.employees.forEach(function(employee) { total+= employee.sickdays }); return total; }) %>" data-labels="<%= teams.map(function(team) { return team.name }) %>"></canvas>
  </div>
</article>


<%- include('./partials/foot') %>
