<%- include('./partials/head') %>

<main class="p">
    <header>
        <%- include('./partials/logo') %>
        <h1>Your Data insight just a click away</h1>

        <a href="/dashboard">let's get started
            <%- include('./partials/arrow-right') %></a>
            
    </header>

    <section id="container">

        <picture class="orb-1">
            <%- include('./partials/orb') %>
        </picture>
        
        <article class="block1" id="block1">

                <div class="h-a"><h2>Google</h2><p>+ 5.3%</p></div>

                <%- include('./partials/charts/achievement-chart') %>

        </article>

        <article class="block2" id="block2">

            <div class="h-a"><h3>Linkedin</h3><p>+ 2%</p></div>

            <%- include('./partials/charts/users-chart') %>

        </article>

        <article class="block3" id="block3">

            <div class="h-a"><h4>Hotjar</h4><p>+ 7.2%</p></div>

            <%- include('./partials/charts/newuser-chart') %>


        </article>
        
        <picture class="orb-2">
            <%- include('./partials/orb') %>
        </picture>

        <picture class="orb-3">
            <%- include('./partials/orb') %>
        </picture>

    </section>

</main>

<%- include('./partials/footer') %>